.margin{
    border: 2px solid black;
    /* border-radius: 10%; */
    background-color: rgb(223, 223, 223);
    width: 300px;
    height: 400px;
    padding: 1% 2.5% ;
    padding-top: 6.7%;
    padding-left: 1%;
    padding-right: 2%;
    margin-top: 10%;
}
.num{
    color: rgb(0, 0, 0);
    border: 1px;
    padding: 4%;
    height: 50px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    margin-bottom: 20%;
}
.operators{
    color: rgb(0, 0, 0);
    border: 1px;
    padding: 4%;
    height: 50px;
    width: 60px;
    margin: 1px;
    margin-bottom: 20%;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}
.num:hover{
    background-color: rgb(150, 148, 148);
}
.operators:hover{
    background-color: rgb(150, 148, 148);
}
#equal
{
    width: 200px;    
}
h1{
    margin-bottom: 12%;
    margin-top: 0;
    margin-right: 17%;
    margin-left: 5%;
    position: absolute  ;
    /* margin-left: 10%; */
    /* margin-bottom: 10%; */
    /* position: fixed; */
}